/* "crear"  nuestras propias fuentes */
@font-face {
  font-family: RobotoRegular;
  src: url("../fuentes/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: UbuntuRegular;
  src: url("../fuentes/UbuntuMono-Regular.ttf");
  font-weight: 300;
}

/* colores */
:root {
  --sangria: #592538;
  --azulMarino: #161040;
  --azulCielo: #54bfb5;
  --negro: #0d0d0d;
  --fondo: #f2f2f2;
  --gris: #a6a6a6;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: RobotoRegular;
}

/* Estilos para el NavBar */
.qNavbar {
  width: 80%;
  margin: 0 auto;
}
Header {
  background-color: var(--sangria);
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  font-family: RobotoRegular;
}
.imgQNavbar {
  float: left;
  width: 40px;
  height: 40px;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 10px;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a::after {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover {
  color: var(--gris);
}
nav a:hover::after {
  width: 100%;
}
/* Fin de estilos del NavBar */

.qPresentacion::after,
.qFooter::after,
.qFooter::before,
header::after {
  content: "";
  display: table;
  clear: both;
}

main {
  background-color: var(--fondo);
}
.qPresentacion {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.qImagenDerecha {
  float: right;
  width: 300px;
  height: 300px;
  padding: 10px;
}
.qContenido {
  padding-top: 20px;
}
.qContenido * {
  padding-bottom: 15px;
}
.qBoton {
  text-align: center;
  cursor: pointer;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  letter-spacing: 2px;
  border-radius: 5px;
}
.qBotonAzul {
  background: var(--azulMarino);
  color: white;
}
.qBotonVerde {
  background: var(--azulCielo);
  color: black;
}
.qInstalacion {
  display: flex;
}
.qInstalacion .qColumna {
  width: 100%;
}
#comando {
  background-color: #f6f7f8;
  color: red;
}

/* Estilos para el footer */
.qFooter {
  background: var(--sangria);
  color: white;
  margin-top: 25px;
}
.qTítuloLlaves {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.qTítuloLlaves::before {
  content: "{  ";
}

.qTítuloLlaves::after {
  content: "  }";
}

#avisoPrivacidad {
  color: white;
  margin: 5px;
  font-size: 12px;
  text-align: center;
}

.qlinea {
  width: 80%;
  margin: 0 auto;
}

.qFooterInfo {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  text-align: center;
}

.qFooterSubTitulo {
  font-size: 15px;
}

.qParrafoFooter {
  font-size: 12px;
}
